<% content_for :breadcrumbs do %>
  <li><%= link_to "Platforms", platforms_path %></li>
  <li class="is-active"><%= @platform.name %></li>
<% end %>


<%= form_tag(products_path, method: :get, id: "filter-form") do %>
  <%= check_box_tag :on_sale, true, params[:on_sale] == "true", onchange: "this.form.submit();" %>
  <%= label_tag :on_sale, "Show on-sale products only" %>
  <br>
  <%= check_box_tag :added_this_week, true, params[:added_this_week] == "true", onchange: "this.form.submit();" %>
  <%= label_tag :added_this_week, "Show products added this week only" %>
<% end %>

<%= render partial:'layouts/display'%>

<div>
  <%= link_to "Back to platforms", platforms_path %>
</div>
