<div class="navbar-container has-background-warning-light" style="display: flex; justify-content: center;" >
  <nav class="navbar has-background-warning-light" role="navigation" aria-label="main navigation">
      <div class="navbar-start">
        <div class="navbar-item">
          <%= link_to "Home", root_path %>
        </div>
        <div class="navbar-item">
          <%= link_to "Products", products_path %>
        </div>
        <div class="navbar-item">
          <%= link_to "Platforms", platforms_path %>
        </div>
        <div class="navbar-item">
          <%= link_to "About", about_path %>
        </div>
        <div class="navbar-item">
          <%= link_to "Contact", contact_path %>
        </div>
      </div>
  </nav>
</div>


