<div id="<%= dom_id product %>">

  <% if product.image.present? %>
    <div class="card-image">
      <figure class="image">
        <%= image_tag product.image %>
      </figure>
    </div>
  <% else %>
      <%= image_tag 'placeholder.jpg' %>
  <% end %>

  <strong class="title is-3"><%= product.name %></strong>
  <p>
    <strong>Platform:</strong>
    <%= link_to product.platform.name, product.platform %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <% if product.on_sale_price.present? %>
    <p>
      <strong>On sale price:</strong>
      <%= product.on_sale_price %>
    </p>
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

</div>
