<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= product.name %>
    <p>Price: $<%= product.price %></p>
    <% if product.image.present? %>
      <div class="card-image">
        <figure class="image">
          <%= image_tag product.image %>
        </figure>
      </div>
    <% end %>
    <p>
      <%= link_to "Show Details", product %>
    </p>
  <% end %>
</div>
